[package]
name = "release_plz_core"
version = "0.4.0"
edition = "2021"
description = "Update version and changelog based on semantic versioning and conventional commits"
repository = "https://github.com/MarcoIeni/release-plz/tree/main/crates/release_plz_core"
license = "MIT OR Apache-2.0"
keywords = ["release", "please", "semver", "conventional", "commits"]
categories = ["development-tools"]

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
cargo_utils = { path = "../cargo_utils", version = "0.1.2" }
git_cmd = { path = "../git_cmd", version = "0.2.4" }
next_version = { path = "../next_version", version = "0.1" }

anyhow.workspace = true
cargo_metadata.workspace = true
cargo-clone-core.workspace = true
cargo-edit = { workspace = true, features = ["set-version"] }
chrono = { workspace = true, features = ["clock"] }
clap = { workspace = true, features = ["derive"] }
crates-index.workspace = true
enum-kinds = "0.5.1"
fs_extra.workspace = true
git-cliff.workspace = true
git-cliff-core.workspace = true
git-url-parse.workspace = true
octocrab.workspace = true
reqwest = { workspace = true, features = ["rustls-tls-native-roots", "json"] }
secrecy.workspace = true
serde = { workspace = true, features = ["derive"] }
tempfile.workspace = true
tracing.workspace = true
url.workspace = true
walkdir.workspace = true
toml_edit.workspace = true

[dev-dependencies]
git_cmd = { path = "../git_cmd", features = ["test_fixture"] }
test_logs = { path = "../test_logs" }

claim.workspace = true
expect-test.workspace = true
fake.workspace = true
serde_json.workspace = true
tokio = { workspace = true, features = ["macros"] }
wiremock.workspace = true
