name: Website CI # Continuous Integration

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  website:
    name: Website Check
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4.2.2

      - uses: actions/setup-node@v4.1.0
        with:
          node-version: 22
          cache: npm
          cache-dependency-path: "website/package-lock.json"

      - name: Install dependencies
        run: npm ci
        working-directory: ./website

      - name: Markdown lint
        run: npm run mdlint
        working-directory: ./website

      - name: Build website
        run: npm run build
        working-directory: ./website
